<!DOCTYPE html>
<html lang="en">
<head>
    <title>WP Exam</title>
</head>
<body>
<div xmlns:th="http://www.thymeleaf.org">
    <div>
        <!-- The form below should invoke the method ReservationsController.listAll -->
        <form id="filter-form" th:method="GET">
            <label for="guestName">Guest Name</label>
            <input id="guestName" type="text" name="guestName"/>
            <label for="roomType">Room Type</label>
            <select id="roomType" name="roomType">
                <option value="">All</option>
                <!-- For each RoomType you should have one <option> like below  -->
                <!--                <option>[roomName]</option>-->
                <option th:each="room : ${roomType}"
                        th:value="${room.name}"
                        th:text="${room.name}"
                        th:selected="${roomType != null && roomType == room.name()}">
                </option>

            </select>
            <select id="hotel" name="hotel">
                <option value="">All</option>
                <!-- For each Hotel you should have one <option> like below  -->
                <option th:each="hotel : ${hotels}"
                        th:value="${hotel.getId()}"
                        th:text="${hotel.getName()}"
                        th:selected="${hotel != null && hotel == hotel.getId()}">
                </option>
            </select>
            <button id="filter" type="submit">Filter</button>
        </form>
        <div>
            <!-- ReservationsController.showAdd -->
            <th:block sec:authorize="hasRole('ADMIN')">
                <a href="/reservations/add" class="add-item">
                    Add new reservation
                </a>
            </th:block>
        </div>
        <div class="col-12" th:if="${page.totalElements > 0}">
            <table>
                <tr>
                    <th>Guest Name</th>
                    <th>Date of Creation</th>
                    <th>Room Type</th>
                    <th>Hotel</th>
                    <th>Days of Stay</th>
                    <th>Actions</th>
                </tr>
                <!-- For each reservation you should have one <tr> like below -->
                <tr th:each="reservation : ${page.getContent()}" class="item">
                    <td th:text="${reservation.getGuestName()}">[reservation.guestName]</td>
                    <td th:text="${reservation.getDateCreated()}">[reservation.dateCreated]</td>
                    <td th:text="${reservation.getRoomType()}">[reservation.roomType]</td>
                    <td th:text="${reservation.getHotel.getName()}">[reservation.hotel.name]</td>
                    <td th:text="${reservation.getDaysOfStay()}">[reservation.daysOfStay]</td>
                    <td>
                        <!-- ReservationsController.delete -->
                        <th:block sec:authorize="hasRole('ADMIN')">
                            <form th:action="@{'/reservations/delete/{id}' (id=${reservation.getId()})}"
                                  th:method="POST">
                                <button type="submit" class="delete-item">Delete</button>
                            </form>
                        </th:block>
                        <!-- ReservationsController.showEdit -->
                        <th:block sec:authorize="hasRole('ADMIN')">
                            <a th:href="@{'/reservations/edit/{id}' (id=${reservation.getId()})}"
                               class="edit-item">Edit</a>
                        </th:block>

                        <!-- ReservationsController.extend -->
                        <th:block sec:authorize="hasRole('USER')">
                            <form th:action="@{'/reservations/extend/{id}' (id=${reservation.getId()})}"
                                  th:method="POST">
                                <button type="submit" class="extend-item">Extend stay</button>
                            </form>
                        </th:block>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</div>
</body>
</html>
